header
    div.tabs-row
        nav
            if user
                a(href='#') Logout 
                a(href='#') Add Game 
                a(href='#') Update Game 
                a(href='#') User Page
            else 
                a(href='#') Login
                a(href='#') Signup