extends base

block contents
    main.main-body
        section.results
            div.results
                each game in games
                    div 
                        h2.result-name=game.game_name
                        p.result-description=game.description
                        div.result-tags
                            each tag in game.tags 
                                div.game-tag=tag
