extends base

block contents
    main.login-main-body 
        form.login-form
            h3.form-title-field Email
            input(type="text", placeholder="email, e.g:lsbonorino@gmail.com")
            h3.form-title-field Password
            input(type="password", placeholder="•••••••••")
            input(type="button", value="login") 
