extends base

block contents
    main.search-main-body
        h1.engine-name Game Searcher
        form.search
            input.search-field(type='text', id='search-field', name='fname', value='', placeholder='Insira aqui as tags que você deseja buscar(use hífens para espaços)') 
            input.search-button(type='button', id='search-button', value='Search')  

